{
  "address": 3100,
  "productionLevel": 0,
  "middlewaresEnabled": 1,
  "healthCheckInterval": "1m",
  "secretKey": "",
  "loggerConfig": {
    "disabledLoggers": [
      "error"
    ]
  },
  "services": [
    {
      "protocol": "http",
      "name": "testService",
      "host": "localhost",
      "port": "3001",
      "prefix": "/api/test",
      "timeOutSec": 5
    }
  ]
}
