{
  "address": 8000,
  "isProd": false,
  "healthCheckInternal": 2m,
  "services": [
    {
      "protocol": "http",
      "name": "foo-name",
      "host": "localhost",
      "port": "8000",
      "prefix": "/api/foo",
      "ctype": "json"
    }
  ]
}